<div class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pesquise por uma coleção</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="filterTerm" (input)="filterInput()">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openModal()" >
    <mat-icon>library_add</mat-icon>
  </button>
</div>

<div *ngIf="collections.length == 0 && filterTerm != ''">
<p>Nenhum registro encontrado</p>
<img class="imgBuscar" src="/assets/dog.jpeg">
</div>


<div class="tabela">
<table class="table" *ngIf="collections.length > 0">
    <tr class="title">
      <td> ID </td>
      <td> Coleção </td>
      <td class="delete">Deletar</td>
    </tr>

    <tr *ngFor="let collection of collections">
      <td> {{collection.id}} </td>
      <td (click)="openModalEdit(collection)"> {{collection.description}} </td>
      <td (click)="deleteCollection(collection.id)" class="delete"> <mat-icon>delete_outline</mat-icon> </td>
    </tr>
</table>
</div>