.dateE{
    position: relative;
    left: 500px;
}

.dateO{
    position: relative;
    left: 200px;
}


.dateV{
    position: relative;
    top: 90px;
}
.cliente{
    position: relative;
    top: -180px;
    left: 70px;
    width: 30%;
}

.adicionar{
    position: relative;
    left: 500px;
    top: 60px;
}