<div class="filtro">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pesquise por um usuário</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="filterTerm" (input)="filterInput()">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openModal()">
    <mat-icon>library_add</mat-icon>
  </button>
</div>

<div *ngIf="users.length  == 0 && filterTerm != ''">
<p>Nenhum registro encontrado</p>
<img class="imgBuscar" src="/assets/dog.jpeg">
</div>

<div class="tabela">
<table  *ngIf="users.length > 0">
  <tr class="title">
    <td> ID </td>
    <td> Nome </td>
    <td> Username </td>
    <td class="delete">Deletar</td>
  </tr>

  <tr *ngFor="let user of users">
    <td> {{user.id}} </td>
    <td (click)="openModalEdit(user)"> {{user.name}} </td>
    <td (click)="openModalEdit(user)"> {{user.username}} </td>
    <td (click)="deleteGroup(user.id)" class="delete"> <mat-icon>delete_outline</mat-icon> </td>
  </tr>
</table>
</div>

